[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[project]
name = "{{name}}"
dynamic = ["version"]
description = "{{description}}"
readme = "README.md"
requires-python = ">=3.8"
license = { text = "MIT" }
authors = [{ name = "{{author}}" }]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Rust",
    "Topic :: Utilities",
]
dependencies = []

[project.urls]
Homepage = "https://github.com/{{owner}}/{{name}}"
Repository = "https://github.com/{{owner}}/{{name}}"

[tool.maturin]
bindings = "bin"
manifest-path = "Cargo.toml"
strip = true
